.cart-list-container {
    width: 100%;
    margin: 0 auto;
    padding-inline: 32px;
    padding-block: 40px;
    background-color: #fff;
    border-radius: 8px;
}

h2 {
    margin-bottom: 24px;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart-total {
    padding-top: 32px;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .cart-list-container {
        width: 700px;
    }
}