header {
    position: fixed;
    width: 100%;
}

.header--dark {
    background-color: #1c1c1c;
    color: #fff;
}

.header--light {
    background-color: #494949;
    color: #fff;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    padding: 24px 48px;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.header__searchbar {
    width: 100%;
}

.header__searchbar-input {
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 8px 16px;
    border: 1px solid #fff;
}

.header__icons {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
}

.header__icon {
    width: 24px;
    height: 24px;
}

.header__icon-cart {
    position: relative;
}

.header__icon-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -16px;
    right: -16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0026ff;
    font-size: 12px;
}

.theme-icon {
    width: 24px;
    height: 24px;
}