footer {
    background-color: #1c1c1c;
    color: #fff;
}

.footer__data {
    display: flex;
    justify-content: space-between;
    padding: 24px 240px;
    border-bottom: 1px solid #bababa;
}

.footer__data-content {
    width: 20%;
}

h3 {
    margin-bottom: 16px;
}

p {
    margin-bottom: 8px;
}

.footer__copyright {
    padding-block: 16px;
    text-align: center;
    font-size: 12px;
    color: #bababa;
}