.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  padding-top: 1rem;
}

.no-results-container {
  text-align: center;
  font-size: 36px;
  height: 300px;
  margin-top: 60px;
}