.error-page-container {
    width: 90%;
    margin: 0 auto;
    padding-inline: 32px;
    padding-block: 40px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 40px;
    
}

h1, h2, p, .link-back {
    text-align: center;
}

.link-back {
    color: #0026ff;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}


@media screen and (min-width: 768px) {
    .error-page-container {
        width: 700px;
    }
}