.product-detail-container {
    margin: 24px 64px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 8px;
    background-color: #fff;
}

.product-detail__img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.product-detail-back {
    margin-bottom: 24px;
    color: #0026ff;
}

.product-detail__content {
    padding-block: 24px;
    padding-right: 24px;
}

.product-detail__title {
    font-size: 24px;
    margin-bottom: 24px;
}

.product-detail__price {
    font-size: 20px;
    color: #0026ff;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: left;
}

.product-detail__description {
    color: #4e4e4e;
    font-size: 14px;
    margin-bottom: 24px;
    text-align: left;
}

.product-detail-btn {
    padding: 12px 16px;
    background-color: #0026ff;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
}

@media screen and (min-width: 850px) {
    .product-detail-container {
        flex-direction: row;
    }

    .product-detail__img {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0;
        width: 40%;
        height: 450px;
    }
}