.card-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #bababa;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-item__img {
    width: 100%;
    max-height: 240px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    flex: 1;
}

.card-item__description {
    flex: 1;
    color: #4e4e4e;
    font-size: 14px;
}

.card-item__price {
    color: #0026ff;
    font-size: 20px;
    font-weight: 700;
}

.card-item__btn {
    padding: 12px 16px;
    background-color: #0026ff;
    color: #fff;
    font-weight: 600;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-item__btn:hover {
    background-color: #001fcf;
}